@font-face {
    font-family: "Lato";
    font-weight: 300;
    font-style: normal;
    src: url(../../public/fonts/Lato-Light.ttf);
}

@font-face {
    font-family: "Lato";
    font-weight: 400;
    font-style: normal;
    src: url(../../public/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: "Lato";
    font-weight: bold;
    font-style: normal;
    src: url(../../public/fonts/Lato-Bold.ttf);
}