@import './variables.scss';

body{
    background-color: $body_background;
}

.container {
    max-width: 1460px;
    margin: 0 auto;
}

.center {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    gap: 30px;
}

.mt50px {
    margin-top: 50px;
}

.grid-cards-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.cards {
    display: flex;
    justify-content: center;
}
.cards-content {
    
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.tab-menu {
    margin-top: 30px;

    button {
        cursor: pointer;
        padding: 9px 10px;
        outline: none;
        border-bottom: 2px solid $blue;
        border-top: none;
        border-left: none;
        border-right: none;
        color: $dark;
        font-family: 'Segoe UI';
        font-size: 15px;
        font-weight: 500;
        transition: 0.2s;
        background: none;
    }

    button:not(:first-child) {
        margin-left: 10px;
    }

    button:hover {
        background: $light_green;
    }

    button:focus {
        background: $light_green;
    }
}

button {
    margin-top: 30px;
}
