@import '../../../assets/variables.scss';

.employerCard {
    margin-top: 30px;
    border: 2px solid $gray;
    border-radius: 15px;
    padding: 20px;
    width: 350px;
    span {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    span:nth-child(2) {
        margin-top: 5px;
    }
    span:last-of-type{
        margin-top: 15px;
    }
    button {
        margin-top: 20px;
    }
    &Buttons {
        display: flex;
        gap: 10px;
    }
}