@import '../../../assets/variables.scss';

.blueButton {
    button {
        text-align: center;
        cursor: pointer;
        background-color: $blue;
        border-style: none;
        outline: none;
        border-radius: 10px;
        padding: 9px 40px;
        color: $white;
        font-family: 'Segoe UI';
        font-size: 15px;
        font-weight: 500;
        transition: 0.3s;
    }
}

.blueButton button:hover{
    background: $green;
}