.employer {
    margin-top: 50px;
    display: flex;
    justify-content: center;

    .cantWatchPage {
        margin-top: 150px;

        &Button {
            gap: 20px;
            display: flex;
            justify-content: center;
        }
    }

    .createEmployerForm {
        display: flex;
        gap: 50px;
        align-items: center;

        img {
            width: 550px;
            height: 550px;
        }
    }

    button {
        margin-top: 30px;
    }
}