.employer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    .notEmployer {
        &Content {
            margin-top: 150px;
            &Button {
                display: flex;
                justify-content: center;
            }
        }
    }
    button {
        margin-top: 30px;
    }
}