@import '../../assets/variables.scss';

.header {
    display: flex;
    gap: 100px;
    align-items: center;
    padding: 30px 30px;
    width: 100%;
    justify-content: space-between;
    .logo {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 20px;

        img {
            width: 65px;
            height: 50px;
        }
    }

    .menu {
        ul {
            display: flex;
            li {
                margin-left: 30px;
            }
        }

    }
}